.card{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(61, 61, 61);
    background-color: white;
    margin: 20px;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background: white;
    align-items: center;
    height: 300px;
    min-width: 30%;

    transition: 1s;
    transform: translate(0, var(--translate-y, 0));
    transform: perspective(1000px)rotateY(var(--rotate-y, 0));
    cursor: pointer;
    transform-style: preserve-3d;
}

.card:hover{
    --translate-y: -2px;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
}

.card.flip{
    --rotate-y: 180deg;
}
.card .image-box{
    position: top;
    align-items: center;
    background: black;
    border-radius:10px;
    height: 200px;
    width: fill;
    overflow: hidden;
}

img{
    height: 100%;
    width: 100%;
}
.card .front,
.card .back{
    position: absolute;
    backface-visibility: hidden;
}

.card .front{
    left: 0;
}

.card .back{
    align-items: left;
    transform: rotateY(180deg);
}