/* .recipe{ 
    /* aka card */
    /* border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(61, 61, 61);
    background-color: white;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background: white;
    align-items: center;
    min-width: 40%;
    padding-bottom: 1rem;

    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
}
.recipe:hover{
    transform: rotateY(180deg);
}
.cardFront
.cardBack{
    position: absolute;
    padding: 1rem; */
/* } */

.card{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background: white;
    align-items: center;
    min-width: 40%;
    padding-bottom: 1rem;
    margin: 20px;
    border-radius: 1rem;

    transform: rotateY(var(--rotate-y, 0));
    transform-style: preserve-3d;
    
}

.card.flip{
    --rotate-y: 180deg;
}

.card .front,
.card .back{
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.card .back{
    transform: rotateY(180deg);
}